<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view todo</title>
    {% extends 'todo/base.html' %}
    {% load static %}
</head>
<body>
    <h1>View Todo</h1>
    {% block content %}
    {{ error }}
    {{ todo.title }}
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <form method="POST" action="{% url 'completetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit">Complete</button>
    </form>
    <form method="POST" action="{% url 'deletetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

{% endblock %}
</body>
</html>